body,
h1,
h2,
h3,
h4,
h5,
h6,
p
 { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{font-size:35px;}
h2{font-size:30px;}
h3{font-size:25px;}
p {font-size:16px;}

body {background:#2C3E50;}
.quotemark {
    position: relative;
    top: -12px;
    padding-right: 10px;
}

blockquote {
  margin: 30px 10px;
  padding: 10px 30px;
}
blockquote:before {
  color: #ccc;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote h1, h2, h3, p{
  display: inline;
}
blockquote footer {
	font-size:18px;
	text-align:right;
	color:transparent;
}

.container {
	max-height:800px;
	margin: 10% auto auto auto;
}
.quotebox {
	background:#fff;
	max-width:500px;
	min-height:100px;
	border:1px solid #222;
	border-radius:5px;
	margin:10px;
}

.quotebutton {
	margin-left: 166px;
	display:inline-block;
	padding:6px 12px;
}
	#quotesource{margin-top:20px}

.btn {margin-bottom:10px}

.social-icons {
	padding:6px 12px;
	display:inline-block;
	
}
.social-icons .fa {
	font-size: 1.8em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}

.btn-primary {
	width: 100px;
	height: 40px;
	border:none;
	background:#2C3E50;
	}